<mat-toolbar color="primary">

  <span>Technologie-Radar</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form name="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <h2>Anmelden</h2>
      <mat-form-field appearance="fill">
        <mat-label>Benutzername eingeben</mat-label>
        <input matInput type="text" id="benutzername" required [(ngModel)]="model.benutzername" name="benutzername"
          #benutzername="ngModel">
        <mat-error *ngIf="benutzername.invalid">Benutzername eingeben</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Passwort eingeben</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="model.passwort" name="passwort"
          #passwort="ngModel">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>